/*estilos da página index.html*/
body{
    background-color: rgb(247, 238, 234);
}

*{
    margin: 0;
    padding: 0;
}
.center{
    text-align: justify;
}

h1{
    margin-top: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #dd0707;
}
#menu ul{
    display: flex;
    list-style: none;
    background-color: #dd0707;
}
#menu ul li a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    margin: 20px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
  #menu ul li a:hover{
    color: rgb(41, 2, 2);
}
.container{
    flex-flow: row;
    justify-content: center;
}
h2{
    background-color: #dd0707;
    padding:0.5rem;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}
.categorias ul{
    display:flex;
    list-style: none;
}

.categorias ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(126, 7, 7);
    margin: 1rem;
    text-align: center;
    font-size: 1rem;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(105, 4, 4);
    margin: 1rem;
    text-align: center;
    font-size: 1rem;
}

.centralizar{
    margin: 1rem;
    text-align: center;
}

#rodape p{
    margin: 1rem;
    text-align: center;
    color: aliceblue;
    padding: 10px;
    background-color: #bb1919;
}



/*estilos da página contato.html*/